<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Heart Attack Predictor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

	<div class="input-body">
		<h1 style="color:#d0d0e1;">Predicting the risk of heart attack</h1>
		<div class="heart-rate">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				y="0px" width="150px" height="73px" viewBox="0 0 150 73" enable-background="new 0 0 150 73"
				xml:space="preserve">
				<polyline fill="none" stroke="#009B9E" stroke-width="3" stroke-miterlimit="10"
					points="0,45.486 38.514,45.486 44.595,33.324 50.676,45.486 57.771,45.486 62.838,55.622 71.959,9 80.067,63.729 84.122,45.486 97.297,45.486 103.379,40.419 110.473,45.486 150,45.486" />
			</svg>
			<div class="fade-in"></div>
			<div class="fade-out"></div>
		</div>
		<h3>Fill in the values to predict the risk of heart failure</h3>

		<p><b style="color:#e60000">{{ prediction_text }}</b></p>
		<form action="{{ url_for('predict')}}" method="post">
			<p>Age<p>
					<input type="text" name="age" required="required" />
			<p>Gender</p>
					<input type="text" name="sex" placeholder="0 for Male & 1 for Female" required="required" />
			<p>Chest Pain type</p>
					<input type="text" name="cp" placeholder="In the range (0 - 3)" required="required" />

	
			<p>Maximum heart rate achieved</p>
					<input type="text" name="thalachh" 
						required="required" />
			<p>Exercise induced angina</p>
					<input type="text" name="exng" placeholder="1 for Yes & 2 for No"
						required="required" />
			<p>Old Peak</p>
					<input type="text" name="oldpeak" 
						required="required" />
			<p>Slope</p>
					<input type="text" name="slp" 
						required="required" />			

			<p>Number of major vessels </p>
					<input type="text" name="caa" placeholder="In the range ( 0-3 )"
						required="required" />
			<p>Thal rate</p>
					<input type="text" name="thall" 
						required="required" />


					<button type="submit" class="btn">Predict</button>
		</form>

		<br>
		<br>
		<p style="font-size:10px;">The dataset can be found at <b> <a
			href="https://www.kaggle.com/rashikrahmanpritom/heart-attack-analysis-prediction-dataset"
			style="color:#009999;font-size:10px;">Here</a></p> </b>
		<p style="font-size:10px;">Wanna look at the code ?<b> <a
					href="https://github.com/kumariAstha/Hack-Princeton"
					style="color:#009999;font-size:10px;">Click here!</a></p> </b>
	</div>

</body>

</html>
